<div>
        <nav>
        <a class="nav" href="signup"> Sign Up</a>
        <a class="nav" href="login"> Login</a>
    </nav>
</div>
<hr>

<h2>Welcome! Please log in</h2>

<form method="POST" action="/users/login" id="login" name="login" >
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>